@{
    ViewBag.Title = "UoSM LoRaWAN Gateway";
}

<div class="jumbotron">
    <h1>RaspBerry Pi Lora Gateway</h1>
    <p class="lead">Shows sensor datas in UoSM</p>
    <p><a href="https://github.com/HankRobot/LoraInternOnline" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <button onclick="lastweek('#dust', 'dustChart')" id="dustweek">Last Week</button>
    <button onclick="lastmonth('#dust', 'dustChart')" id="dustmonth">Last Month</button>
    <button onclick="lastyear('#dust', 'dustChart')" id="dustyear">Last Year</button>
</div>

<div class="jumbotron">
    <p class="lead">Dust(kg/m^-3)</p>
    <img id="dust" src="@Url.Action("dustChart","Home",new {date=DateTime.Now.AddDays(-7)})" />
</div>

<div>
    <button onclick="lastweek('#uv', 'uvChart')" id="dustweek">Last Week</button>
    <button onclick="lastmonth('#uv', 'uvChart')" id="dustmonth">Last Month</button>
    <button onclick="lastyear('#uv', 'uvChart')" id="dustyear">Last Year</button>
</div>

<div class="jumbotron">
    <p class="lead">UV(mW/cm^-2)</p>
    <img id="uv" src="@Url.Action("uvChart","Home",new {date=DateTime.Now.AddDays(-7)})" />
</div>

<div>
    <button onclick="lastweek('#temperature', 'tempChart')" id="dustweek">Last Week</button>
    <button onclick="lastmonth('#temperature', 'tempChart')" id="dustmonth">Last Month</button>
    <button onclick="lastyear('#temperature', 'tempChart')" id="dustyear">Last Year</button>
</div>

<div class="jumbotron">
    <p class="lead">Temperature(°C)</p>
    <img id="temperature" src="@Url.Action("tempChart","Home",new {date=DateTime.Now.AddDays(-7)})" />
</div>

<div>
    <button onclick="lastweek('#pressure', 'presChart')" id="dustweek">Last Week</button>
    <button onclick="lastmonth('#pressure', 'presChart')" id="dustmonth">Last Month</button>
    <button onclick="lastyear('#pressure', 'presChart')" id="dustyear">Last Year</button>
</div>

<div class="jumbotron">
    <p class="lead">Pressure(Pa)</p>
    <img id="pressure" src="@Url.Action("presChart","Home",new {date=DateTime.Now.AddDays(-7)})" />
</div>

<div>
    <button onclick="lastweek('#humidity', 'humChart')" id="dustweek">Last Week</button>
    <button onclick="lastmonth('#humidity', 'humChart')" id="dustmonth">Last Month</button>
    <button onclick="lastyear('#humidity', 'humChart')" id="dustyear">Last Year</button>
</div>

<div class="jumbotron">
    <p class="lead">Humidity(%)</p>
    <img id="humidity" src="@Url.Action("humChart","Home",new {date=DateTime.Now.AddDays(-7)})" />
</div>

<div>
    <button onclick="lastweek('#rssi', 'RSSIChart')" id="dustweek">Last Week</button>
    <button onclick="lastmonth('#rssi', 'RSSIChart')" id="dustmonth">Last Month</button>
    <button onclick="lastyear('#rssi', 'RSSIChart')" id="dustyear">Last Year</button>
</div>

<div class="jumbotron">
    <p class="lead">RSSI</p>
    <img id="rssi" src="@Url.Action("RSSIChart","Home",new {date=DateTime.Now.AddDays(-7)})" />
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript">

    function lastweek(id, chartName) {
        var inStr = '@Url.Action("xChart","Home",new {date=DateTime.Now.AddDays(-7)})';
        inStr = inStr.replace("xChart", chartName);
        $(id).attr('src', inStr);
    }
        
    function lastmonth(id, chartName) {
        var inStr = '@Url.Action("xChart","Home",new {date=DateTime.Now.AddMonths(-1)})';
        inStr = inStr.replace("xChart", chartName);
        $(id).attr('src', inStr);
    }

    function lastyear(id, chartName) {
        var inStr = '@Url.Action("xChart","Home",new {date=DateTime.Now.AddYears(-1)})';
        inStr = inStr.replace("xChart", chartName);
        $(id).attr('src', inStr);
    }

</script>
