@{
    ViewBag.Title = "UoSM LoRaWAN Gateway";
}

<div class="jumbotron">
    <h1>RaspBerry Pi Lora Gateway</h1>
    <p class="lead">Shows sensor datas in UoSM</p>
    <p><a href="https://github.com/HankRobot/LoraInternOnline" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="jumbotron">
    <p class="lead">Dust(kg/m^-3)</p>
    <img src="@Url.Action("dustChart")" />
</div>

<div class="jumbotron">
    <p class="lead">UV(mW/cm^-2)</p>
    <img src="@Url.Action("uvChart")" />
</div>

<div class="jumbotron">
    <p class="lead">Temperature(°C)</p>
    <img src="@Url.Action("tempChart")" />
</div>

<div class="jumbotron">
    <p class="lead">Pressure(Pa)</p>
    <img src="@Url.Action("presChart")" />
</div>

<div class="jumbotron">
    <p class="lead">Humidity(%)</p>
    <img src="@Url.Action("humChart")" />
</div>

<div class="jumbotron">
    <p class="lead">RSSI</p>
    <img src="@Url.Action("RSSIChart")" />
</div>